.text_field {
	min-height: 100px;
	resize: none;
}

.image {
	display: inline-block;
	position:  relative;
	height: 300px;
	width: 400px;
}

.image > img {
	display: block;
	min-height: 100%;
	min-width: 100%;
}

.image > a {
	position: absolute;
	bottom: 0;
	left: 43%;
}


@media (max-width: 992px) {
	.image {
		height: 200px;
		width: 250px;
	}
	.image > a {
		padding: 3px !important;
		left: 40%;
	}
}